@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* rocket theme */
html,
body {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply h-full overflow-hidden;
	@apply bg-white dark:bg-black text-black dark:text-white;
}
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}
